* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.main-visual-title {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}
.box1 {
  margin-bottom: 50px;
  border-bottom: 1px solid #6c6b6b;
  padding-bottom: 50px;
}
